In [5]:
import pandas as pd

df = pd.DataFrame([
    ["January", 100, 100, 23, 100],
    ["February", 51, 45, 145, 45],
    ["March", 81, 96, 65, 96],
    ["April", 80, 80, 54, 180],
    ["May", 51, 54, 54, 154],
    ["June", 112, 109, 79, 129]
],
columns=["month", "clinic_east", "clinic_north", "clinic_south", "clinic_west"])

# Writing a command that produces a Series made up of the March data from 
# all four clinic sites and saving to a variable 'march'.
march = df.iloc[2]
print(march)


""" Selecting Multiple Rows """
print("\nSelecting Multiple Rows ---->")

april_may_june = df[-3:]
print(april_may_june)


""" Selecting Rows with Logic """
print("\nSelecting Rows with Logic I ---->")
# Creating a variable 'january' using a logical statement that will select
# the row of df where the 'month' column is 'January'
january = df[df.month == "January"]
print(january)


""" Selecting Rows with Logic """
print("\nSelecting Rows with Logic II ---->")
# Creating a variable 'march_april', which contains the data from March and 
# April.
march_april = df[(df.month == "March") | (df.month == "April")]
print(march_april)


""" Selecting Rows with Logic """
print("\nSelecting Rows with Logic ---->")
# Creating the variable 'january_february_march' that contains the data from 
# January, February, and March by using the .isin() command
january_february_march = df[df.month.isin(["January", "February", "March"])]
print(january_february_march)

month           March
clinic_east        81
clinic_north       96
clinic_south       65
clinic_west        96
Name: 2, dtype: object

Selecting Multiple Rows ---->
   month  clinic_east  clinic_north  clinic_south  clinic_west
3  April           80            80            54          180
4    May           51            54            54          154
5   June          112           109            79          129

Selecting Rows with Logic I ---->
     month  clinic_east  clinic_north  clinic_south  clinic_west
0  January          100           100            23          100

Selecting Rows with Logic II ---->
   month  clinic_east  clinic_north  clinic_south  clinic_west
2  March           81            96            65           96
3  April           80            80            54          180

Selecting Rows with Logic ---->
      month  clinic_east  clinic_north  clinic_south  clinic_west
0   January          100           100            23          100
1  February           51            45           145           45
2     March           81            96            65           96