In [4]:
import pandas as pd

df = pd.DataFrame([
    ["Apple", 1.00, "No"],
    ["Milk", 4.20, "No"],
    ["Paper Towel", 5.00, "Yes"],
    ["Light Bulbs", 3.75, "Yes"]
], columns=["Items", "Price", "Is taxed?"])

df["Price with Tax"] = df.apply(
    lambda row: row["Price"] * 1.075 
    if row["Is taxed?"] == "Yes" else row["Price"], axis = 1
)

print(df)

""" Applying a Lambda to a Row """
print("\nApply Lambda to a Row ---->")
df = pd.read_csv("../modifying_dataframes/example_datasets/employees.csv")
# Creating a lambda function 'total_earned' that accepts an input row 
# with keys hours_worked and hourly_wage and uses an if statement to 
# calculate the hourly wage.
total_earned = lambda row: (row.hourly_wage * 40) + ((row.hourly_wage * 1.5) * (row.hours_worked - 40)) \
	if row.hours_worked > 40 \
    else row.hourly_wage * row.hours_worked

# Using the lambda function total_earned and apply to add a column 
# total_earned to df with the total amount earned by each employee.
df['total_earned'] = df.apply(total_earned, axis = 1)

print(df)

         Items  Price Is taxed?  Price with Tax
0        Apple   1.00        No         1.00000
1         Milk   4.20        No         4.20000
2  Paper Towel   5.00       Yes         5.37500
3  Light Bulbs   3.75       Yes         4.03125

Apply Lambda to a Row ---->
       id               name  hourly_wage  hours_worked  total_earned
0   10310      Lauren Durham           19            43         845.5
1   18656      Grace Sellers           17            40         680.0
2   61254  Shirley Rasmussen           16            30         480.0
3   16886        Brian Rojas           18            47         909.0
4   89010    Samantha Mosley           11            38         418.0
5   87246       Louis Guzman           14            39         546.0
6   20578     Denise Mcclure           15            40         600.0
7   12869      James Raymond           15            32         480.0
8   53461       Noah Collier           18            35         630.0
9   14746    Donna Frederick           20            41         830.0
10  71127       Shirley Beck           14            32         448.0
11  92522    Christina Kelly            8            44         368.0
12  22447        Brian Noble           11            39         429.0
13  61654          Randy Key           16            38         608.0
14  16988      Diana Stewart           14            48         728.0
15  68619       Timothy Sosa           14            42         602.0
16  59949      Betty Skinner           11            48         572.0
17  81418      Janet Maxwell           12            38         456.0
18  27267   Madison Johnston           20            37         740.0
19  19985   Virginia Nichols           13            49         695.5