In [12]:
import pandas as pd

df = pd.read_csv("../modifying_dataframes/example_datasets/imdb.csv")

print(df.head())


print("\nRenaming Multiple Columns ---->")
df.columns = ["ID", "Title", "Category","Year Released", "Rating"]
print(df.head())



print("\nRenaming Individual Columns ---->")
df = pd.DataFrame({
    "name": ["John", "Jane", "Sue", "Fred"],
    "age": [23, 29, 21, 18]
})

df.rename(columns={
    "name": "First Name",
    "age": "Age"
}, inplace=True)

print(df.head())


print("\nRenaming Individual Column II ---->")
df2 = pd.read_csv("../modifying_dataframes/example_datasets/imdb.csv")

df2.rename(columns={
    "name": "movie_title"
}, inplace=True)

print(df2.head())

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6

Renaming Multiple Columns ---->
   ID                                      Title Category  Year Released  \
0   1                                     Avatar   action           2009
1   2                             Jurassic World   action           2015
2   3                               The Avengers   action           2012
3   4                            The Dark Knight   action           2008
4   5  Star Wars: Episode I - The Phantom Menace   action           1999

   Rating
0     7.9
1     7.3
2     8.1
3     9.0
4     6.6

Renaming Individual Columns ---->
  First Name  Age
0       John   23
1       Jane   29
2        Sue   21
3       Fred   18

Renaming Individual Column II ---->
   id                                movie_title   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6